<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" charset="utf-8" />
<title>Oliva y Tomato</title>
</head>
<body bgcolor="#ffffff" style="border:0; margin:0; padding:0;">
  <table width="620" height="588" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0">    
    
    <tr>
      <td width="620" height="117">
        <img style="vertical-align:bottom;" border="0" width="620" height="117" src="http://ol.bot-ga.com/mailing_gracias/mailing_01.png">
      </td>
    </tr> 


    <tr>
      <td width="620" height="26">
        <table width="620" height="26" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="26">
              <img style="vertical-align:bottom;" border="0" width="104" height="26" src="http://ol.bot-ga.com/mailing_gracias/mailing_02.png">
            </td>
            <td bgcolor="#ffffff" width="412" height="26">

              <div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-weight:bold; font-size:20px;  display:block;">
                Hola <%= @user['nombre'] %>
              </div>

            </td>
            <td bgcolor="#ffffff" width="104" height="26">
              <img style="vertical-align:bottom;" border="0" width="104" height="26" src="http://ol.bot-ga.com/mailing_gracias/mailing_04.png">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="620" height="23">
        <img style="vertical-align:bottom;" border="0" width="620" height="23" src="http://ol.bot-ga.com/mailing_gracias/mailing_05.png">

      </td>
    </tr> 

    <tr>
      <td width="620" height="24">
        <table width="620" height="24" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="24">
              <img style="vertical-align:bottom;" border="0" width="104" height="24" src="http://ol.bot-ga.com/mailing_gracias/mailing_06.png">
            </td>
            <td bgcolor="#ffffff" width="412" height="24">
              <div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px; display:block;">
                Gracias por comprar en Oliva y Tomato, éste es tu resumen de pedido:
              </div>
            </td>
            <td bgcolor="#ffffff" width="104" height="24">
              <img style="vertical-align:bottom;" border="0" width="104" height="24" src="http://ol.bot-ga.com/mailing_gracias/mailing_08.png">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="620" height="24">
        <img style="vertical-align:bottom;" border="0" width="620" height="24" src="http://ol.bot-ga.com/mailing_gracias/mailing_09.png">
      </td>
    </tr> 

    <tr>
      <td width="620" height="103">
        <table width="620" height="103" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="103">
              <img style="vertical-align:bottom;" border="0" width="104" height="103" src="http://ol.bot-ga.com/mailing_gracias/mailing_10.png">
            </td>
            <td bgcolor="#ffffff" width="412" height="103">
              <div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px; display:block;">
                <%= @user['ensalada_nombre'] %>
              </div>

            </td>
            <td bgcolor="#ffffff" width="104" height="103">
              <img style="vertical-align:bottom;" border="0" width="104" height="103" src="http://ol.bot-ga.com/mailing_gracias/mailing_12.png">
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="620" height="21">
        <table width="620" height="21" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="21">
              <img style="vertical-align:bottom;" border="0" width="104" height="21" src="http://ol.bot-ga.com/mailing_gracias/mailing_13.png">
            </td>
            <td bgcolor="#ffffff" width="412" height="21">
              <div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px; display:block;">
                Total: S/. <%= @user['ensalada_precio'] %>
              </div>



            </td>
            <td bgcolor="#ffffff" width="104" height="21">
              <img style="vertical-align:bottom;" border="0" width="104" height="21" src="http://ol.bot-ga.com/mailing_gracias/mailing_15.png">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="620" height="20">
        <img style="vertical-align:bottom;" border="0" width="620" height="20" src="http://ol.bot-ga.com/mailing_gracias/mailing_16.png">
      </td>
    </tr>

    <tr>
      <td width="620" height="51">
        <table width="620" height="51" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="51">
              <img style="vertical-align:bottom;" border="0" width="104" height="51" src="http://ol.bot-ga.com/mailing_gracias/mailing_17.png">
            </td>
            <td bgcolor="#ffffff" width="412" height="51">
              <div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px;display:block;">
                Dirección de entrega: <%= @user['direccion'] %> <br>
                Referencia: <%= @user['referencia'] %> <br>
              </div>





            </td>
            <td bgcolor="#ffffff" width="104" height="51">
              <img style="vertical-align:bottom;" border="0" width="104" height="51" src="http://ol.bot-ga.com/mailing_gracias/mailing_19.png">
            </td>
          </tr>
        </table>
      </td>
    </tr> 
    <tr>
      <td width="620" height="23">
        <img style="vertical-align:bottom;" border="0" width="620" height="23" src="http://ol.bot-ga.com/mailing_gracias/mailing_20.png">
      </td>
    </tr>
    <tr>
      <td width="620" height="24">
        <img style="vertical-align:bottom;" border="0" width="620" height="24" src="http://ol.bot-ga.com/mailing_gracias/mailing_21.png">
      </td>
    </tr>

    <tr>
      <td width="620" height="64">
        <table width="620" height="64" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="64">
              <img style="vertical-align:bottom;" border="0" width="104" height="64" src="http://ol.bot-ga.com/mailing_gracias/mailing_22.png">
            </td>
            <td bgcolor="#ffffff" width="412" height="64">
              <div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px;display:block;">
                Para dudas y consultas <br>
                Teléfono: 999888777<br>
                e-mail: consultas@olivaytomato.com<br>
              </div>




            </td>
            <td bgcolor="#ffffff" width="104" height="64">
              <img style="vertical-align:bottom;" border="0" width="104" height="64" src="http://ol.bot-ga.com/mailing_gracias/mailing_24.png">
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="620" height="28">
        <table width="620" height="28" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#ffffff" width="104" height="28">
              <img style="vertical-align:bottom;" border="0" width="104" height="28" src="http://ol.bot-ga.com/mailing_gracias/mailing_25.png">
            </td>
            <td bgcolor="#ffffff" width="27" height="28">
              <a href="#" target="_blank">
              <img style="vertical-align:bottom;" border="0" width="27" height="28" src="http://ol.bot-ga.com/mailing_gracias/mailing_26.png">
              </a>

            </td>
            <td bgcolor="#ffffff" width="25" height="28">
              <a href="#" target="_blank">
              <img style="vertical-align:bottom;" border="0" width="25" height="28" src="http://ol.bot-ga.com/mailing_gracias/mailing_27.png">
              </a>
            </td>
            <td bgcolor="#ffffff" width="25" height="28">
              <img style="vertical-align:bottom;" border="0" width="25" height="28" src="http://ol.bot-ga.com/mailing_gracias/mailing_28.png">
            </td>
            <td bgcolor="#ffffff" width="26" height="28">
              <img style="vertical-align:bottom;" border="0" width="26" height="28" src="http://ol.bot-ga.com/mailing_gracias/mailing_29.png">
            </td>
            <td bgcolor="#ffffff" width="413" height="28">
              <img style="vertical-align:bottom;" border="0" width="413" height="28" src="http://ol.bot-ga.com/mailing_gracias/mailing_30.png">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="620" height="40">
        <img style="vertical-align:bottom;" border="0" width="620" height="40" src="http://ol.bot-ga.com/mailing_gracias/mailing_31.png">
      </td>
    </tr>



    
  </table>
</body>
</html>