
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" charset="utf-8" />
<title>Oliva y Tomato</title>
</head>
<body bgcolor="#ffffff" style="border:0; margin:0; padding:0;">
	<table width="620" height="471" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0">		
		
		<tr>
			<td width="620" height="117">
				<img style="vertical-align:bottom;" border="0" width="620" height="117" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_01.png">
			</td>
		</tr>	


		<tr>
			<td width="620" height="26">
				<table width="620" height="26" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td bgcolor="#ffffff" width="104" height="26">
							<img style="vertical-align:bottom;" border="0" width="104" height="26" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_02.png">
						</td>
						<td bgcolor="#ffffff" width="412" height="26">

							<!-- <img style="vertical-align:bottom;" border="0" width="412" height="26" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_03.png"> -->

							<div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:20px; font-weight:bold; display:block;">
								Nuevo registro en el Libro de Reclamaciones
							</div>

						</td>
						<td bgcolor="#ffffff" width="104" height="26">
							<img style="vertical-align:bottom;" border="0" width="104" height="26" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_04.png">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="620" height="23">
				<img style="vertical-align:bottom;" border="0" width="620" height="23" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_05.png">

			</td>
		</tr>	

		<tr>
			<td width="620" height="23">
				<table width="620" height="23" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td bgcolor="#ffffff" width="104" height="23">
							<img style="vertical-align:bottom;" border="0" width="104" height="23" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_06.png">
						</td>
						<td bgcolor="#ffffff" width="412" height="23">
							<div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px; font-weight:bold; display:block;">
								
							</div>
						</td>
						<td bgcolor="#ffffff" width="104" height="23">
							<img style="vertical-align:bottom;" border="0" width="104" height="23" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_08.png">
						</td>
					</tr>
				</table>
			</td>
		</tr>


		<tr>
			<td width="620" height="220">
				<table width="620" height="220" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td bgcolor="#ffffff" width="104" height="220">
							<img style="vertical-align:bottom;" border="0" width="104" height="220" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_09.png">
						</td>
						<td bgcolor="#ffffff" width="412" height="220">
							<div style="background-color:#ffffff; background:#ffffff; font-family:Arial; color:#494949; font-size:12px; display:block;">
Nombre: <%= @user['nombre'] %><br>
Apellido: <%= @user['apellido'] %><br>
Teléfono: <%= @user['telefono'] %><br>
E-mail: <%= @user['email'] %><br>
Mensaje: <%= @user['mensaje'] %><br>



							</div>

						</td>
						<td bgcolor="#ffffff" width="104" height="220">
							<img style="vertical-align:bottom;" border="0" width="104" height="220" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_11.png">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="620" height="62">
				<img style="vertical-align:bottom;" border="0" width="620" height="62" src="http://ol.bot-ga.com/mailing_pedido/mailing_aviso_12.png">

			</td>
		</tr>

		
	</table>
</body>
</html>